<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <a class="navbar-brand" style="color: aliceblue;">Home</a>
    </a>
  </div>
</nav>


<div class="container">
    <div class="row mt-5">
        <button class="btn btn-primary col-md-2 mx-3" routerLink = "/add">Add Button</button>

        <div class=" col-md-3 search">
            <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" [(ngModel)]="term" name="term"/>
            
        </div>
    </div>
   

    <table class="table  table-hover table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col" (click)="sort('id')">Id <i class='bx bx-expand-vertical'></i></th>
            <th scope="col">First Name</th>
            <th scope="col">Last Nmae</th>
            <th scope="col">Age</th>
            <th scope="col">Department</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let items of fetchEmployeeData| orderBy : key : reverse  | paginate: { itemsPerPage: 5, currentPage: p } | filter:term  ">
            <th scope="row">{{items.id}}</th>
            <td>{{items.fname}}</td>
            <td>{{items.lname}}</td>
            <td>{{items.age}}</td>
            <td>{{items.department}}</td>
            <td>{{items.gender}}</td>
            <td>
              <button class="btn btn-success mx-3" (click)="onEdit(items.id)">Edit</button>
              <button class="btn btn-danger" (click)="onDelete(items.id)">Delete</button>
            </td>
          </tr>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </tbody>

      </table>
</div>
    